$bg: #18181b;
$secondary-color: #f8fafc;
$terciaria-color: #262626;
$quartenaria-color: #16a34a;
$quintenaria-color: #cbd5e1;
$sextenaria-color: #3f3f46;
$sentenaria-color: #ffffff34;
$oitenaria-color: #dc2626;